
<div class="container-fluid" ng-app="newapp" ng-controller="newcontroller" data-ng-init="init()">
  <div class="filters">
    <label class="text-light">{{movies}}</label>
    <select  class="form-contol" [(ngModel)]="moviesCategory" (ngModelChange)="changeFn($event)">
      <option *ngFor='let mov of movies' [value]="mov.name" >{{mov.name}}</option>
      <h1>{{modifedtext}}</h1>
    </select>
  </div>
  <div class="row">
      <div  *ngFor='let object of data' class="col-md-3">
      <router-link class="card" [routerLink]="['/details',object.id]" style="width: 18rem;">
          <img src="https://image.tmdb.org/t/p/w500{{object.poster_path}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-text">{{object.original_title}}</h5>
            <p>{{object.id}}</p>
            <div class="icon-bar">
            </div>
          </div>
      </router-link>
      </div>
  </div>
</div>
