.comments .comment{
  height: 100px;

}
.user-img{
  width: 15%;
  padding: 10px;
  background-color: red;
  height: 100%;
  text-align: center;

}
.user-img img{
  width: 80px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  height: 80px;
}
.comment-text{
  width: 85%;
  margin: 10px;
  padding: 5px;
  border: 1px solid #555;
}
